<div class="section-0 bg-dark text-light ">
    <div class="container row pt-5 pb-5 pr-5 m-auto">
        <h3 class="col-md-6 mr-auto mt-auto mb-5">Growth starts here! Arrange a free hour of consultation.</h3>
        
        <a class="nav-link border border-light m-auto p-4 text-light" href="../contacts.html">Let's Start</a>
        
    </div>



</div>

<div class="container">

    <div class="row section-1 pt-5 pb-5">
        <img class="col-md-6 col-lg-3 logo" src="./assets/logoBlack.png" alt="logo" >
        <ul class="nav flex-column col-md-6 col-lg-3 pl-3">Services
            <a class="" href="#">Social & Email</a>
            <a class="" href="#">Design & Creative</a>
            <a class="" href="#">Web Development</a>
            <a class="" href="#">Strategy & Consulting</a>
            <a class="" href="#">Custom Package & Label Design</a>
            <a class="" href="#">PPC Management / Google Ads</a>
            <a class="" href="#">Search Engine Optimization (SEO)</a>
            <a class="" href="#">eCommerce Web Accessibility</a>
        </ul>
        <ul class="nav flex-column col-md-6 col-lg-3 pl-3">Deep Category Expertise
            <a class="" href="#">B2B</a>
            <a class="" href="#">E-Commerce</a>
            <a class="" href="#">CPG</a>
            <a class="" href="#">Small Business</a>
            <a class="" href="#">Sports & Outdoors</a>
            <a class="" href="#">Beauty & Fashion</a>
            <a class="" href="#">Health & Wellness</a>
            <a class="" href="#">CBD & Hemp Oil Web Design</a>
        </ul>
        <ul class="nav flex-column col-md-6 col-lg-3  pl-3">
            <div class="pt-4"></div>
            <a class="" href="#">Automotive</a>
            <a class="" href="#">Ecig & Vape</a>
            <a class="" href="#">Food</a>
            <a class="" href="#">Financial</a>
            <a class="" href="#">Gambling</a>
            <a class="" href="#">Real Estate</a>
            <a class="" href="#">Pet Shops</a>
            <a class="" href="#">Medical</a>
        </ul>
    </div>

    <div class="row section-2  border-top pt-5 pb-5">
        <div class="col-md-6 col-lg-3">
            <p>
                US Office</br>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum, aliquid?</br>
                4995262623518966+925
                <p>
                    <p>
                        For general inquiries:</br>
                        example@email.com
                        <p>

        </div>
        <div class="col-md-6 col-lg-3">
            <p>
                EU Office</br>
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum, aliquid?</br>
                4995262623518966+925
                <p>
                    <p>
                        <i class="fab fa-twitter fa-lg p-2"></i>
                        <i class="fab fa-linkedin-in fa-lg p-2"></i>
                        <i class="fab fa-facebook-f fa-lg p-2"></i>
                        <p>
        </div>
        <img class="col-md-6 col-lg-3 mt-3 google-partner" src="./assets/google.jpg" width="auto" height="20%">
        <div class="col-md-6 col-lg-3 ">
            <img class="seo" src="./assets/top-seo.png" width="150px">
        </div>

    </div>


    <div class="row section-3 border-top pt-5 pb-5 ">
        <div class="col-md-6">Copyright &copy; 2020 - Kristina Chausheva - All rights reserved.</div>
        <div class="row col-md-6 footer-section-3">
            <a class="border-right pr-2 col-6 text-end" href="./assets/terms.html">terms & conditions</a>
            <a class="pl-1 text-center col-6 mr-auto" href="./assets/privacy.html">privacy policy</a>


        </div>
    </div>

</div>