<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container">
    <a href="index.html" class="navbar-brand">
      <img src="./assets/logoBlack.png" alt="logo">
      
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item p-2 pl-3 pr-3">
          <a class="nav-link" href="/DWdemo/index.html">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item p-2 pl-3 pr-3">
          <a class="nav-link" href="/DWdemo/work.html">Work</a>
        </li>
        <li class="nav-item dropdown p-2 pl-3 pr-3">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Services
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/DWdemo/in.html">Action</a>
            <a class="dropdown-item" href="/DWdemo/in.html">Another action</a>
            <a class="dropdown-item" href="/DWdemo/in.html">Something else here</a>
          </div>
        </li>
        <li class="nav-item p-2 pl-3 pr-3">
          <a class="nav-link" href="/DWdemo/verticals.html">Verticals</a>
        </li>

        <li class="nav-item dropdown p-2 pl-3 pr-3">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Platforms
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/DWdemo/in.html">Action</a>
            <a class="dropdown-item" href="/DWdemo/in.html">Another action</a>
            <a class="dropdown-item" href="/DWdemo/in.html">Something else here</a>
          </div>
        </li>
        <li class="nav-item p-2 pl-3 pr-3">
          <a class="nav-link " href="/DWdemo/insights.html">Insights</a>
        </li>
        <li class="nav-item border border-dark p-2 pl-3 pr-3">
          <a class="nav-link" href="/DWdemo/contacts.html">Contact</a>
        </li>

      </ul>

    </div>


  </div>
</nav>